.center-page-boards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.center-page-boards > h2 {
  transition: 1s;
}

.board-text {
  color: #333333;
  letter-spacing: -.4px;
}

.board-btn, .board-btn-disabled {
  cursor: pointer;
  border: none;
  background-color: #EFEFEF;
  text-align: center;
  padding: 1em;
  margin: 0.5em;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
}

.board-btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.board-btn:hover {
  background-color: #e2e2e2;
}

.board-btn:focus {
  outline: 0;
}